# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2024 Tiz
# SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "endlessh_server_http_listen_port", "new": "endlessh_container_http_port" }
    - { "old": "endlessh_container_host_bind_port", "new": "endlessh_container_http_host_bind_port" }
    - { "old": "endlessh_http_header_content_permission_policy", "new": "endlessh_http_header_permissions_policy" }
    - { "old": "endlessh_container_labels_middleware_basic_auth_enabled", "new": "endlessh_container_labels_metrics_middleware_basic_auth_enabled" }
    - { "old": "endlessh_container_labels_middleware_basic_auth_users", "new": "endlessh_container_labels_metrics_middleware_basic_auth_users" }

- name: Fail if required Endlessh settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - endlessh_uid
    - endlessh_gid
    - endlessh_container_network

- name: Run if Traefik is enabled for metrics
  when: endlessh_container_labels_traefik_enabled | bool
  block:
    - name: Fail if Traefik settings required for Endlessh are not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "lookup('vars', item, default='') | string | length == 0"
      with_items:
        - endlessh_container_labels_traefik_hostname
        - endlessh_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `endlessh_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if endlessh_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          endlessh_container_labels_traefik_path_prefix (`{{ endlessh_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/endlessh`).
      when: "endlessh_container_labels_traefik_path_prefix != '/' and endlessh_container_labels_traefik_path_prefix[-1] == '/'"
