{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2024 Tiz
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Endlessh SSH tarpit ({{ endlessh_identifier }})
{% for service in endlessh_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in endlessh_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ endlessh_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ endlessh_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ endlessh_identifier }} \
      --log-driver=none \
      --user={{ endlessh_uid }}:{{ endlessh_gid }} \
      --cap-drop=ALL \
      --network={{ endlessh_container_network }} \
      {% if endlessh_container_http_host_bind_port %}
      -p {{ endlessh_container_http_host_bind_port }}:{{ endlessh_container_http_port }} \
      {% endif %}
      --label-file={{ endlessh_base_path }}/labels \
      {{ endlessh_container_image_self_build_name if endlessh_container_image_self_build else endlessh_container_image }} \
      {% for arg in endlessh_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}

{% for network in endlessh_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ endlessh_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ endlessh_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ endlessh_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ endlessh_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ endlessh_identifier }}

[Install]
WantedBy=multi-user.target
