{#
SPDX-FileCopyrightText: 2024 Tiz

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if endlessh_container_labels_traefik_enabled or endlessh_container_labels_traefik_tcp_enabled %}
traefik.enable=true

{% if endlessh_container_labels_traefik_docker_network %}
traefik.docker.network={{ endlessh_container_labels_traefik_docker_network }}
{% endif %}

{% if endlessh_container_labels_traefik_enabled %}

{% set middlewares = [] %}

{% if endlessh_container_labels_metrics_middleware_basic_auth_enabled %}
{% set middlewares = middlewares + [endlessh_identifier + '-basic-auth'] %}
traefik.http.middlewares.{{ endlessh_identifier }}-basic-auth.basicauth.users={{ endlessh_container_labels_metrics_middleware_basic_auth_users }}
{% endif %}

traefik.http.middlewares.{{ endlessh_identifier }}-strip-prefix.stripprefix.prefixes={{ endlessh_path_prefix }}
{% set middlewares = middlewares + [endlessh_identifier + '-strip-prefix@docker'] %}

traefik.http.routers.{{ endlessh_identifier }}.rule={{ endlessh_container_labels_traefik_rule }}

{% if middlewares | length > 0 %}
traefik.http.routers.{{ endlessh_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}

traefik.http.routers.{{ endlessh_identifier }}.service={{ endlessh_identifier }}
traefik.http.routers.{{ endlessh_identifier }}.priority={{ endlessh_container_labels_traefik_priority }}
traefik.http.routers.{{ endlessh_identifier }}.entrypoints={{ endlessh_container_labels_traefik_entrypoints }}

traefik.http.routers.{{ endlessh_identifier }}.tls={{ endlessh_container_labels_traefik_tls | to_json }}
{% if endlessh_container_labels_traefik_tls %}
traefik.http.routers.{{ endlessh_identifier }}.tls.certResolver={{ endlessh_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ endlessh_identifier }}.loadbalancer.server.port={{ endlessh_container_http_port }}
{% endif %}

{% if endlessh_container_labels_traefik_tcp_enabled and endlessh_container_ssh_host_bind_port %}

traefik.tcp.routers.{{ endlessh_identifier }}.rule={{ endlessh_container_labels_traefik_tcp_rule }}
{% if endlessh_container_labels_traefik_tcp_priority | int > 0 %}
traefik.tcp.routers.{{ endlessh_identifier }}.priority={{ endlessh_container_labels_traefik_tcp_priority }}
{% endif %}
traefik.tcp.routers.{{ endlessh_identifier }}.service={{ endlessh_identifier }}
traefik.tcp.routers.{{ endlessh_identifier }}.entrypoints={{ endlessh_container_labels_traefik_tcp_entrypoints }}

traefik.tcp.services.{{ endlessh_identifier }}.loadbalancer.server.port={{ endlessh_container_ssh_port }}
{% endif %}

{% endif %}

{% for arg in endlessh_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
